<div class="row">
  <div class="col-xs-12">
    <ul class="list-style-none">
      <li><a href="https://www.firebase.com/">Firebase</a></li>
      <li><a href="http://www.maxx.co.nz/about-maxx/google-transit-feed.aspx">Google Transit Data</a></li>
      <li><a href="http://alignedleft.com/tutorials/d3/scales">Scales Tutorial</a></li>
      <li><a href="https://github.com/Caged/d3-tip">D3 tooltips</a></li>
      <li><a href="http://www.ng-newsletter.com/posts/d3-on-angular.html">D3 on AngularJS Tutorial</a></li>
    </ul>
  </div>
</div>