<div class="row">
  <div class="col-xs-12">
    <p>Click one of the buttons to load the associated dataset.</p>
    <button type="button" class="btn btn-info" ng-click="uploadAgency()">Agency</button>
    <button type="button" class="btn btn-info" ng-click="uploadCalendar()">Calendar</button>
    <button type="button" class="btn btn-info" ng-click="uploadCalendarDates()">CalendarDates</button>
    <button type="button" class="btn btn-info" ng-click="uploadRoutes()">Routes</button>
    <button type="button" class="btn btn-info" ng-click="uploadShapes()">Shapes</button>
    <button type="button" class="btn btn-info" ng-click="uploadStopTimes()">StopTimes</button>
    <button type="button" class="btn btn-info" ng-click="uploadStops()">Stops</button>
    <button type="button" class="btn btn-info" ng-click="uploadTrips()">Trips</button>
    <div>{{dataset}}</div>
  </div>
</div>
